<a href="https://colab.research.google.com/github/Nauvaldi/datamining/blob/main/Tugas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas 1

In [14]:
import pandas as pd
import numpy as np

In [33]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/Nauvaldi/Dataset/main/test.csv"
df = pd.read_csv(dataset_url)
df

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,34,Travel_Rarely,790,Sales,24,4,Medical,1,1489,...,80,0,16,2,4,15,9,10,10
1,35,Travel_Rarely,660,Sales,7,1,Life Sciences,1,1492,...,80,1,1,3,3,1,0,0,0
2,24,Travel_Frequently,381,Research & Development,9,3,Medical,1,1494,...,80,0,4,2,2,0,0,0,0
3,24,Non-Travel,830,Sales,13,2,Life Sciences,1,1495,...,80,1,1,2,3,1,0,0,0
4,44,Travel_Frequently,1193,Research & Development,2,1,Medical,1,1496,...,80,0,16,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3
408,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7
409,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3
410,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8
411,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2

In [34]:
# Show dataset shape
number_of_columns = df.shape[1]

In [35]:
# Show all columns for dataset
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [36]:
# Show all columns from dataframe
df.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

# Data Asimetris Biner

-Over18

-OverTime

In [39]:
df[["Over18", "OverTime"]].head(5)

  Over18 OverTime
0      Y      Yes
1      Y       No
2      Y      Yes
3      Y       No
4      Y      Yes

# Ubah Value ke 0/1

Jika Yes/Y = 1

Jika No/N = 0

In [40]:
# Over18 code
code_over18_for_yes = "Y"
code_over18_for_no = "N"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_over18_to_biner(Over18):
    return value_of_one if Over18 == code_over18_for_yes else value_of_zero

In [41]:
# Update all values of 'Over18' series
df["Over18"] = df["Over18"].apply(change_code_over18_to_biner)

In [42]:
# Overtime code
code_overtime_for_yes = "Yes"
code_overtime_for_no = "N0"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_overtime_to_biner(OverTime):
    return value_of_one if OverTime == code_overtime_for_yes else value_of_zero

In [43]:
# Update all values of 'OverTime' series
df["OverTime"] = df["OverTime"].apply(change_code_overtime_to_biner)

In [44]:
df[["Over18", "OverTime"]].head(5)

   Over18  OverTime
0       1         1
1       1         0
2       1         1
3       1         0
4       1         1

In [45]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [46]:
def get_series(df, idx, series):
    return df.loc[(idx), series]

In [47]:
def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [48]:
get_dissimilarity_dataset(df, [1,2], ["Over18", "OverTime"]).T

          1  2
Over18    1  1
OverTime  0  1

In [49]:
df.loc[0:5, ["Over18", "OverTime"]]

   Over18  OverTime
0       1         1
1       1         0
2       1         1
3       1         0
4       1         1
5       1         0

In [50]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index):(last_index), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [51]:
# d(1,2)
df_1_2 = get_dissimilarity_dataset(df, [1,2], ["Over18","OverTime"])

In [52]:
c_d_1_2 = count_contingency_value(df_1_2, 1, 2)

In [53]:
# d(1,3)
df_1_3 = get_dissimilarity_dataset(df, [1,3], ["Over18","OverTime"])

In [54]:
c_d_1_3 = count_contingency_value(df_1_3, 1, 3)

In [55]:
# d(1,4)
df_1_4 = get_dissimilarity_dataset(df, [1,4], ["Over18","OverTime"])

In [56]:
c_d_1_4 = count_contingency_value(df_1_4, 1, 4)

In [57]:
# d(1,5)
df_1_5 = get_dissimilarity_dataset(df, [1,5], ["Over18","OverTime"])

In [58]:
c_d_1_5 = count_contingency_value(df_1_5, 1, 5)

# Dissimilarity Binary Assymetric Value Formula

      r + s / q + r + s

In [59]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [60]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_3)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_4)
d_1_5 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_5)

In [61]:
d_1_2

0.5

In [62]:
d_1_3

0.0

In [63]:
d_1_4

0.5

In [64]:
d_1_5

0.0